# Aim of This Notebook

In this notebook, we want to import the "messstelle.csv" file to our Postgres Database

 we need follwing packages: 

* Pandas 
* Sqlalchemy

In [1]:
#importing the packages

import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy

# Data location

 First, we need to create the path of our data.

In [40]:
data_in_dir = r"../data/"

gw_station_fname = r"opendata_messstelle.csv"

gw_station_pfname = data_in_dir + gw_station_fname

## Read the file
Don't forget to add the "delimiter", normal csv file's delimiter is "," but in our case it's ";", so we need to assign it.

In [59]:
df = pd.read_csv(gw_station_pfname, delimiter=';', header='infer')
df.head()

,sl_nr,messstelle_id,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,...,beobachtung_wasserstand,eigentuemer,betreiber,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm
0,67530,32505929,UWB-Ddorf 01285,343064,5678019,1.0,,05111000,NaN,NaN,...,-,Stadt Düsseldorf ...,Stadt Düsseldorf ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51044,10446746,60GP012303,292077,5645349,NaN,privat,NL000882,5,Zwischenmittel,...,-,Prov. Limburg (NL) ...,Prov. Limburg (NL) ...,200.0,NaN,NaN,NaN,16893.0,-3333.0,-3533.0
2,51070,87005323,58BP024606,287141,5684635,NaN,privat,NL001640,6D,Neurather Sand,...,-,Prov. Limburg (NL) ...,Prov. Limburg (NL) ...,500.0,300.0,NaN,NaN,32667.0,-29083.0,-29583.0
3,68442,80000290,Krinsend 0079 neu,309490,5678060,1.0,,05166024,NaN,NaN,...,-,Land NRW ...,NaN,NaN,NaN,NaN,NaN,1517.0,4832.0,4832.0
4,68518,86583852,WG102GM93-3,316741,5680237,NaN,privat,05166032,NaN,NaN,...,-,NiederrheinWasser GmbH (ehem. Niederheinwerke)...,NiederrheinWasser GmbH (ehem. Niederheinwerke)...,200.0,NaN,80.0,NaN,5400.0,1413.0,1213.0

## data type

e32 and n32 should be int if we want to create geometry columns from them

In [42]:
df.dtypes

sl_nr                             int64
messstelle_id                     int64
name                             object
e32                              object
n32                              object
gw_stockwerk                    float64
grundstueck                      object
gemeinde_id                      object
gwhorizont_id                    object
gwhorizont                       object
gwleiter_id                      object
gwleiter                         object
einrichtungsgrund                object
gwk_lage_auf_id                  object
gwk_lage_id                      object
gwk_monitoring_auf_id            object
gwk_monitoring_id                object
messprogramm                     object
turnus_wasserstand               object
freigabe_wstd                    object
freigabe_chemie                  object
freigabe_lage                    object
wasserstandsmessstelle           object
guetemessstelle                  object
im_wrrl_messnetz_chemie          object
im_wrrl_messnetz_wasserstand     object
messstellenart                   object
wasserart                        object
labor                            object
beobachtung_wasserstand          object
eigentuemer                      object
betreiber                        object
filterlaenge_cm                 float64
sumpfrohrlaenge_cm              float64
ausbaudurchmesser_mm            float64
historischer_ruhe_wsp           float64
einbaulaenge_cm                 float64
oberkante_filter_cm             float64
unterkante_filter_cm            float64
dtype: object

## change some data types
* e32 to Int
* n32 to Int
* drop NA value

First step, we must drop the NA value.
Second step is some rows the last two digit are xx which means that the exact location is not avaliable. 
Now we need to replace this xx with two digit. These two xx could be in the range of 00 to 99. 
In here we replace the xx with 50

In [43]:
# drop NA
df = df.dropna(subset=['e32'])
df = df.dropna(subset=['n32'])

In [21]:
df.e32

0        343064
1        292077
2        287141
3        309490
4        316741
          ...
71115    468938
71116    3338xx
71117    331861
71118    3604xx
71119    3379xx
Name: e32, Length: 71120, dtype: object

In [44]:
# replace all xx with 50

df.e32 = df['e32'].replace({'xx':'50'}, regex=True)
df.n32 = df['n32'].replace({'xx':'50'}, regex=True)

In [45]:
# convert e32 and n32 to int
df['e32'] = df['e32'].astype(int)
df['n32'] = df['n32'].astype(int)

### Now the e32 and n32 are int

In [46]:
df.dtypes

sl_nr                             int64
messstelle_id                     int64
name                             object
e32                               int32
n32                               int32
gw_stockwerk                    float64
grundstueck                      object
gemeinde_id                      object
gwhorizont_id                    object
gwhorizont                       object
gwleiter_id                      object
gwleiter                         object
einrichtungsgrund                object
gwk_lage_auf_id                  object
gwk_lage_id                      object
gwk_monitoring_auf_id            object
gwk_monitoring_id                object
messprogramm                     object
turnus_wasserstand               object
freigabe_wstd                    object
freigabe_chemie                  object
freigabe_lage                    object
wasserstandsmessstelle           object
guetemessstelle                  object
im_wrrl_messnetz_chemie          object
im_wrrl_messnetz_wasserstand     object
messstellenart                   object
wasserart                        object
labor                            object
beobachtung_wasserstand          object
eigentuemer                      object
betreiber                        object
filterlaenge_cm                 float64
sumpfrohrlaenge_cm              float64
ausbaudurchmesser_mm            float64
historischer_ruhe_wsp           float64
einbaulaenge_cm                 float64
oberkante_filter_cm             float64
unterkante_filter_cm            float64
dtype: object

In [47]:
df['e32']

0        343064
1        292077
2        287141
3        309490
4        316741
          ...
71115    468938
71116    333850
71117    331861
71118    360450
71119    337950
Name: e32, Length: 71119, dtype: int32

### check externally
in order to check the all rows externally we can write it in csv file

In [31]:
df.to_csv("test.csv")

Other columns have no problem and the data is ready to import to Database.

## write in Database
Now we want to import our df to postgres database.

* First we have to connect to our Database URL
* then we can write into the our database. we need to assign in which Schema we want to add our data frame. in this case I have added my data frame to the schema "Sina" which has been created before in the PGadmin.

In [55]:
# write your sql url below
engine = sqlalchemy.create_engine("postgresql://xxxxxxxxxxxxxxxxxxx")

In [49]:
%time df.to_sql(con=engine, name="messstelle", schema="sachin", if_exists="replace", index=False)

Wall time: 52min 35s

### Create geometry columns

Now everything is fine and our data has been imported to Database successfully. but still someting important is missing.
We have e32 and new columns but in order to map these location correclty and exatly in QGIS, we need geometry information. 

in order to create geometry columns from n32 and e32 the follwing step is required.

In [56]:
quary = """ ALTER TABLE sina.messstelle ADD COLUMN geom geometry(Point, 25832);
 UPDATE sina.messstelle SET geom = ST_SetSRID(ST_MakePoint(e32, n32), 25832);"""

In [57]:
engine.execute(quary)

Now everything is fine and the data has been imported to our database with geometry columns sucessfully. You can see the data in PGadmin as well.

## Finish!

That's great, You have imported the table successfully in Postgres Database.