# Aim of This Notebook

In this notebook, we want to import the "Katalog_stoff.csv" file to our Postgres Database

In [1]:
import pandas as pd
import sqlalchemy

## Data location

In [4]:
data_in_dir = r"../data/"

katalog_fname = r"katalog_stoff.csv"

katalog_pfname = data_in_dir + katalog_fname

## Read the Data
Don't forget to add the "delimiter", normal csv file's delimiter is "," but in our case it's ";", so we need to assign it.

In [5]:


df = pd.read_csv(katalog_pfname, sep = ";")
df.head()

  gemeinde_id                 name
0    NL001705      Lingewaard (NL)
1    NL001706     Cranendonck (NL)
2    NL001711   Echt-Susteren (NL)
3    03251003  Bahrenborstel (NDS)
4    03454031      Lengerich (NDS)

## Connect to Database

In [9]:
# write your sql url below
engine = sqlalchemy.create_engine("postgresql://xxxxxxxxxxxxxxxxxx")

## Import to Databse

In this section, I have imported the data to the Schema of "Sina" which has been created before in our PGadmin. but you can set your table in your schema.

In [11]:
%time df.to_sql(con=engine, name="katalog_stoff", schema="sachin", if_exists="replace", index=False)

Wall time: 56.6 s

## Finish!

That's great, You have imported the table successfully in Postgres Database.