The aim of this file is to import only the useful dataset such as nitrate, nitrit acquired from the database table open_messwert and upload it to our database for further analysis.

In [1]:
import pandas as pd
import sqlalchemy

In [2]:
data_in_dir= r"../data/"

gw_quality_fname = r"open_nitrate.csv"

gw_quality_pfname = data_in_dir + gw_quality_fname

Above mentioned steps imports datasets and read it.

In [5]:
df = pd.read_csv(gw_quality_pfname, sep = ",")
df.head()

,stoff_nr,name,beschreibung,cas_id,messstelle_id,pna_id,datum_pn,stoff_nr-2,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort,herkunft,aktual_dat,erstell_dat,messergebnis_cm
0,1245,Nitrat-Stickstoff,NaN,NaN,40200504,6/2005/4108,1970-01-01 00:00:00.02005,1245,Grundwasser,22.10,NaN,NaN,mg/l,Gesamtgehalt,DIN 38405-D19 FEBRUAR 1988,,HYGC_BR-MS,1970-01-01 00:00:00.020051,1970-01-01 00:00:00.020051,=
1,1245,Nitrat-Stickstoff,NaN,NaN,40507014,6/2005/4150,1970-01-01 00:00:00.02005,1245,Grundwasser,2.10,NaN,NaN,mg/l,Gesamtgehalt,DIN 38405-D19 FEBRUAR 1988,,HYGC_BR-MS,1970-01-01 00:00:00.020051,1970-01-01 00:00:00.020051,=
2,1245,Nitrat-Stickstoff,NaN,NaN,21000610,10/2005/2047,1970-01-01 00:00:00.02005,1245,Grundwasser,5.70,NaN,NaN,mg/l,Membranfilter,DIN 38405-D28 ENTWURF MAERZ 1993,,HYGC_BR-DET,1970-01-01 00:00:00.020051,1970-01-01 00:00:00.020051,=
3,1247,Nitrit-Stickstoff,NaN,NaN,21000610,10/2005/2047,1970-01-01 00:00:00.02005,1247,Grundwasser,0.03,NaN,NaN,mg/l,Membranfilter,DIN 38405-D28 ENTWURF MAERZ 1993,,HYGC_BR-DET,1970-01-01 00:00:00.020051,1970-01-01 00:00:00.020051,=
4,1245,Nitrat-Stickstoff,NaN,NaN,40200863,6/2005/4110,1970-01-01 00:00:00.02005,1245,Grundwasser,1.20,NaN,NaN,mg/l,Gesamtgehalt,DIN 38405-D19 FEBRUAR 1988,,HYGC_BR-MS,1970-01-01 00:00:00.020051,1970-01-01 00:00:00.020051,=

In [8]:
df = df.drop("stoff_nr-2", axis=1)

In [ ]:
dropping the stoff nr column since it has appeared twice as we retrieved this table from joining two tables from SQL

In [9]:
df.head()

,stoff_nr,name,beschreibung,cas_id,messstelle_id,pna_id,datum_pn,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort,herkunft,aktual_dat,erstell_dat,messergebnis_cm
0,1245,Nitrat-Stickstoff,NaN,NaN,40200504,6/2005/4108,1970-01-01 00:00:00.02005,Grundwasser,22.10,NaN,NaN,mg/l,Gesamtgehalt,DIN 38405-D19 FEBRUAR 1988,,HYGC_BR-MS,1970-01-01 00:00:00.020051,1970-01-01 00:00:00.020051,=
1,1245,Nitrat-Stickstoff,NaN,NaN,40507014,6/2005/4150,1970-01-01 00:00:00.02005,Grundwasser,2.10,NaN,NaN,mg/l,Gesamtgehalt,DIN 38405-D19 FEBRUAR 1988,,HYGC_BR-MS,1970-01-01 00:00:00.020051,1970-01-01 00:00:00.020051,=
2,1245,Nitrat-Stickstoff,NaN,NaN,21000610,10/2005/2047,1970-01-01 00:00:00.02005,Grundwasser,5.70,NaN,NaN,mg/l,Membranfilter,DIN 38405-D28 ENTWURF MAERZ 1993,,HYGC_BR-DET,1970-01-01 00:00:00.020051,1970-01-01 00:00:00.020051,=
3,1247,Nitrit-Stickstoff,NaN,NaN,21000610,10/2005/2047,1970-01-01 00:00:00.02005,Grundwasser,0.03,NaN,NaN,mg/l,Membranfilter,DIN 38405-D28 ENTWURF MAERZ 1993,,HYGC_BR-DET,1970-01-01 00:00:00.020051,1970-01-01 00:00:00.020051,=
4,1245,Nitrat-Stickstoff,NaN,NaN,40200863,6/2005/4110,1970-01-01 00:00:00.02005,Grundwasser,1.20,NaN,NaN,mg/l,Gesamtgehalt,DIN 38405-D19 FEBRUAR 1988,,HYGC_BR-MS,1970-01-01 00:00:00.020051,1970-01-01 00:00:00.020051,=

In [10]:
engine = sqlalchemy.create_engine("postgresql://postgres:Leomessi@localhost:5432/nitratescout")

creating a engine to connect database with python

In [12]:
%time df.to_sql(con=engine, name="open_nitrate", schema="sachin", if_exists="replace", index=False)

CPU times: total: 8.39 s
Wall time: 14.6 s

537