In [2]:
import pandas as pd
import sqlalchemy

In [3]:
data_in_dir = r"../data/"

gw_quality_fname = r"opendata_messwert.csv"

gw_quality_pfname = data_in_dir + gw_quality_fname

In [4]:
df_qual = pd.read_csv(gw_quality_pfname, sep = ";", index_col=["sl_nr"], dtype = {"messergebnis_c":str ,"messergebnis_hinweis":str })
df_qual.head()

,messstelle_id,pna_id,datum_pn,stoff_nr,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort,herkunft,aktual_dat,erstell_dat
sl_nr,,,,,,,,,,,,,,,
2903561,59620687,5/2005/4599,20051018,1164,Grundwasser,22.00000,NaN,NaN,µg/l,Gesamtgehalt,DIN 38406-E22 MAERZ 1988,,HYGC_BR-AR,20051205,20051205
2903564,59620687,5/2005/4599,20051018,1061,Grundwasser,6.80000,NaN,NaN,-,Gesamtgehalt,DIN 38404-C5 JANUAR 1984,ja,HYGC_BR-AR,20051205,20051205
2903565,59620687,5/2005/4599,20051018,1011,Grundwasser,12.80000,NaN,NaN,°C,Gesamtgehalt,DIN 38404-C4 DEZEMBER 1976,ja,HYGC_BR-AR,20051205,20051205
2903584,59620389,5/2005/5002,20051114,1011,Grundwasser,12.30000,NaN,NaN,°C,Gesamtgehalt,DIN 38404-C4 DEZEMBER 1976,ja,HYGC_BR-AR,20051205,20051205
2903585,59620080,5/2005/5001,20051111,1061,Grundwasser,7.40000,NaN,NaN,-,Gesamtgehalt,DIN 38404-C5 JANUAR 1984,ja,HYGC_BR-AR,20051205,20051205

In [5]:
df_qual.dtypes

messstelle_id             int64
pna_id                   object
datum_pn                  int64
stoff_nr                  int64
probengut                object
messergebnis_c           object
messergebnis_hinweis     object
bestimmungsgrenze       float64
masseinheit              object
trennverfahren           object
verfahren                object
vor_ort                  object
herkunft                 object
aktual_dat                int64
erstell_dat               int64
dtype: object

In [6]:
df_qual['datum_pn'] = pd.to_datetime(df_qual['datum_pn'], format = '%Y-%m-%d')

df_qual[ 'aktual_dat'] = pd.to_datetime(df_qual[ 'aktual_dat'], format = '%Y-%m-%d')

df_qual['erstell_dat'] = pd.to_datetime(df_qual['erstell_dat'], format = '%Y-%m-%d')

In [7]:
def is_float(element: str) -> bool:
    try:
        float(element)
        return True
    except ValueError:
        return False

In [8]:
def is_less(element: str) -> bool:
    return element[0] == "<"

In [9]:
def is_greater(element: str) -> bool:
    return element[0] == ">"

In [10]:
%time idx_mess_is_float   = df_qual["messergebnis_c"].apply(is_float)
#%time idx_mess_not_float  = ~idx_mess_is_float
%time idx_mess_is_less    = df_qual["messergebnis_c"].apply(is_less)
%time idx_mess_is_greater = df_qual["messergebnis_c"].apply(is_greater)

CPU times: total: 2.77 s
Wall time: 2.85 s
CPU times: total: 656 ms
Wall time: 655 ms
CPU times: total: 688 ms
Wall time: 696 ms

In [11]:
df_qual[idx_mess_is_float].shape

(1697167, 15)

In [12]:
df_qual[idx_mess_is_less].shape

(1974713, 15)

In [13]:
df_qual[idx_mess_is_greater].shape

(33, 15)

In [14]:
assert idx_mess_is_float.sum() + (~idx_mess_is_float).sum() == df_qual.shape[0], "mess has either to be float or not float"

In [15]:
assert ((idx_mess_is_less | idx_mess_is_greater) != (~idx_mess_is_float)).sum() == 0, "'not float' supposed to come from '<' or '>' but nothing else."

In [16]:
assert df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float].shape[0] == 0
print(df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float])

Empty DataFrame
Columns: [messstelle_id, pna_id, datum_pn, stoff_nr, probengut, messergebnis_c, messergebnis_hinweis, bestimmungsgrenze, masseinheit, trennverfahren, verfahren, vor_ort, herkunft, aktual_dat, erstell_dat]
Index: []

In [17]:
df_qual.loc[idx_mess_is_float, "messergebnis_cm"] = "="
df_qual.loc[idx_mess_is_less, "messergebnis_cm"] = "<"
df_qual.loc[idx_mess_is_greater, "messergebnis_cm"] = ">"

In [18]:
df_qual.messergebnis_c = df_qual.messergebnis_c.replace({'>':''}, regex=True)

In [19]:
df_qual.messergebnis_c = df_qual.messergebnis_c.replace({'<':''}, regex=True)

In [20]:
df_qual

,messstelle_id,pna_id,datum_pn,stoff_nr,probengut,messergebnis_c,messergebnis_hinweis,bestimmungsgrenze,masseinheit,trennverfahren,verfahren,vor_ort,herkunft,aktual_dat,erstell_dat,messergebnis_cm
sl_nr,,,,,,,,,,,,,,,,
2903561,59620687,5/2005/4599,1970-01-01 00:00:00.020051018,1164,Grundwasser,22.00000,NaN,NaN,µg/l,Gesamtgehalt,DIN 38406-E22 MAERZ 1988,,HYGC_BR-AR,1970-01-01 00:00:00.020051205,1970-01-01 00:00:00.020051205,=
2903564,59620687,5/2005/4599,1970-01-01 00:00:00.020051018,1061,Grundwasser,6.80000,NaN,NaN,-,Gesamtgehalt,DIN 38404-C5 JANUAR 1984,ja,HYGC_BR-AR,1970-01-01 00:00:00.020051205,1970-01-01 00:00:00.020051205,=
2903565,59620687,5/2005/4599,1970-01-01 00:00:00.020051018,1011,Grundwasser,12.80000,NaN,NaN,°C,Gesamtgehalt,DIN 38404-C4 DEZEMBER 1976,ja,HYGC_BR-AR,1970-01-01 00:00:00.020051205,1970-01-01 00:00:00.020051205,=
2903584,59620389,5/2005/5002,1970-01-01 00:00:00.020051114,1011,Grundwasser,12.30000,NaN,NaN,°C,Gesamtgehalt,DIN 38404-C4 DEZEMBER 1976,ja,HYGC_BR-AR,1970-01-01 00:00:00.020051205,1970-01-01 00:00:00.020051205,=
2903585,59620080,5/2005/5001,1970-01-01 00:00:00.020051111,1061,Grundwasser,7.40000,NaN,NaN,-,Gesamtgehalt,DIN 38404-C5 JANUAR 1984,ja,HYGC_BR-AR,1970-01-01 00:00:00.020051205,1970-01-01 00:00:00.020051205,=
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2882791,10407406,1/2004/91121,1970-01-01 00:00:00.020041026,1331,Grundwasser,19.20000,NaN,NaN,mg/l,Gesamtgehalt,DIN 38405-D19 FEBRUAR 1988,,HYGC_BR-K,1970-01-01 00:00:00.020051107,1970-01-01 00:00:00.020051107,=
2882792,10407406,1/2004/91121,1970-01-01 00:00:00.020041026,1472,Grundwasser,5.13000,NaN,NaN,mmol/l,Gesamtgehalt,DIN 38409-H7-1-2 MAI 1979,ja,HYGC_BR-K,1970-01-01 00:00:00.020051107,1970-01-01 00:00:00.020051107,=
2882793,10407406,1/2004/91121,1970-01-01 00:00:00.020041026,1477,Grundwasser,0.35000,NaN,NaN,mmol/l,Gesamtgehalt,DIN 38409-H7-2-2 MAI 1979,,HYGC_BR-K,1970-01-01 00:00:00.020051107,1970-01-01 00:00:00.020051107,=
2882794,10407406,1/2004/91121,1970-01-01 00:00:00.020041026,1521,Grundwasser,0.50000,NaN,NaN,mg/l,Membranfilter,DIN 38409-H3 JUNI 1983,,HYGC_BR-K,1970-01-01 00:00:00.020051107,1970-01-01 00:00:00.020051107,=
2882795,10407406,1/2004/91121,1970-01-01 00:00:00.020041026,1690,Grundwasser,0.00000,NaN,NaN,1/ml,Gesamtgehalt,GEMAESS DIN 38411-K5 FEBRUAR 1983,,HYGC_BR-K,1970-01-01 00:00:00.020051107,1970-01-01 00:00:00.020051107,=

In [21]:
 df_qual.messergebnis_c = df_qual.messergebnis_c.astype(float)

In [22]:
df_qual.dtypes

messstelle_id                    int64
pna_id                          object
datum_pn                datetime64[ns]
stoff_nr                         int64
probengut                       object
messergebnis_c                 float64
messergebnis_hinweis            object
bestimmungsgrenze              float64
masseinheit                     object
trennverfahren                  object
verfahren                       object
vor_ort                         object
herkunft                        object
aktual_dat              datetime64[ns]
erstell_dat             datetime64[ns]
messergebnis_cm                 object
dtype: object

In [23]:
engine = sqlalchemy.create_engine("postgresql://postgres:Leomessi@localhost:5432/nitratescout")

In [24]:
%time df_qual.to_sql(con=engine, name="open_messwert", schema="sachin", if_exists="replace", index=False)

CPU times: total: 2min 57s
Wall time: 7min 1s

913